@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html,
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  background-color: #53a347;
  box-shadow: 1px 1px 150px 12px rgb(133, 133, 133);
  -webkit-box-shadow: 1px 1px 150px 12px rgb(217, 217, 217);
  -moz-box-shadow: 1px 1px 150px 12px rgb(243, 243, 243);
}

/* MENU */
.main {
  display: flex;
  flex-flow: column;
  width: 85%;
}

.menu {
  width: 15%;
  background-color: rgb(rgb(255, 255, 255));
  padding: 20px 8px 10px 10px;
}

.menu ul {
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 0%;
  box-shadow: 0px 0px 10px rgb(110, 109, 109);
  background-color: #f7ffe5;
}

.menu ul li {
  list-style: none;
  padding: 10px;
}

.menu ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.menu ul li a:hover {
  color: rgb(23, 203, 23);
}

.menu ul li:hover {
  background: #f0ffcd;
  border-bottom: 1px solid rgb(13, 98, 9);
  border-top: 1px solid rgb(13, 98, 9);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  cursor: pointer;
}

/* CABEÇALHOS */
.header {
  background-color: #f7ffe5;
  min-height: 150px;
  display: flex;
  border-bottom: 2px solid rgb(106, 166, 106);
}

.h1 {
  font-size: 25px;
  display: flex;
  align-items: center;
  padding: 20px;
  padding-left: 30px;
}

h3 {
  color: #53a347;
  padding-left: 40px;
}

.header img {
  width: 150px;
  margin: 0;
}

/* CONTEÚDOS */
.content {
  background-color: white;
  min-height: 300px;
  padding: 20px;
  display: flex;
  position: relative;
}

.cont1 {
  text-align: justify;
  display: block;
  font-size: 18px;
}

table thead th {
  background: #81c576;
  font-size: large;
}

table thead td {
  background: #f7ffe5;
  text-align: center;
  padding: 10px;
}

video {
  margin-bottom: 40px;
}

/* GOOGLE MAPS */
iframe {
  margin-left: 30px;
  margin-top: 18px;
  border: 5px solid #53a347;
}

/* FORMULÁRIO */
fieldset,
input,
select,
option,
textarea,
button,
label {
  outline: none;
  border-radius: 12px;
  border: none;
  font-size: 17px;
}

fieldset {
  padding: 20px;
  min-width: 90%;
  max-width: 90%;
  border: 0.5px dashed #f7ffe5;
  background: #85d978;
}

fieldset input {
  height: 20px;
  padding: 8px;
  margin-bottom: 15px;
  width: 95%;
  background: #f7ffe5;
  box-shadow: 1px 2px 4px rgb(150, 150, 150);
}

fieldset select {
  padding: 10px;
  width: 99%;
  background: #ffffff;
  margin-bottom: 5px;
  box-shadow: 1px 2px 3px rgb(110, 109, 109);
  font-family: "Roboto", sans-serif;
}

select:hover {
  background: #e0e2e0;
  cursor: pointer;
}

fieldset button {
  justify-content: center;
  width: auto;
  padding: 10px;
  background: #f7ffe5;
  color: #0b902a;
  margin-top: 5px;
  box-shadow: 1px 2px 3px rgb(110, 109, 109);
}

fieldset button:hover {
  background: #5fab52;
  color: #000000;
  cursor: pointer;
}

#reset {
  width: auto;
  margin-left: 4px;
  background: #f7ffe5;
  color: #0b902a;
  cursor: pointer;
  box-shadow: 1px 2px 3px rgb(110, 109, 109);
}

#reset:hover {
  background: rgb(255, 2, 2);
  color: #f5efef;
}

fieldset textarea {
  max-width: 8px;
  min-width: 90%;
  min-height: 25px;
  max-height: 150px;
  padding: 20px;
  box-shadow: 1px 2px 3px rgb(110, 109, 109);
  background: #f7ffe5;
  font-family: "Roboto", sans-serif;
}

label {
  font-weight: bold;
}

hr {
  box-shadow: 0px 1px 9px rgb(108, 109, 108);
}

/* RODAPÉ */
.footer {
  background-color: #f7ffe5;
  min-height: 150px;
  border-top: 2px solid rgb(106, 166, 106);
  align-content: space-between;
  display: flex;
  position: relative;
}

.br img {
  position: absolute;
  right: 1%;
  bottom: 5%;
}

.rd {
  width: 25%;
  display: flex;
}

.rd ul {
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-left: 10px;
  box-shadow: 0px 0px 2px rgb(110, 109, 109);
  background-color: #f7ffe5;
}

.rd ul li {
  list-style: none;
  padding: 8px;
}

.rd ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: small;
}

.rd ul li a:hover {
  color: rgb(55, 212, 24);
}

.add {
  position: absolute;
  margin-top: 35%;
  left: 5%;
}

.nos {
  display: inline-block;
}

.nos img {
  float: left;
  margin: 15px;
}

.nos p {
  font-size: 24px;
  overflow-wrap: break-word;
  text-overflow: inherit;
  text-align: justify;
  line-height: 134%;
}
